:root {
  --primary-color: #6d28d9;
  --claro-color: #8b5cf6;
  --secundario-color: #10b981;
  --acento-color: #f59e0b;
  --fondo-color: #121212;
  --superficie-color: #1e1e1e;
  --superficie2-color: #2d2d2d;
  --botton-color: linear-gradient(
    to right,
    var(--primary-color),
    var(--claro-color)
  );
}
.botonsec {
  background-color: #000000d3;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  cursor: pointer;
}
.botonprimario {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--claro-color)
  );
  border-radius: 6px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.botonprimario:hover {
  background: linear-gradient(
    to right,
    var(--claro-color),
    var(--primary-color)
  );
  transform: translateY(-2px);
}

.botonterciario {
  background-color: var(--superficie2-color);
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
  border: none;
}
