@import url("./globals.css");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--superficie2-color);
  width: 100dvw;
  height: 60px;
}
header div {
  width: 60px;
  height: 35px;
  background: var(--primary-color);
  border-radius: 6px;
  margin: 0 0 0 15px;
}
header img {
  width: 50px;
  height: auto;
}
